//------------------------------------------------------------------------------
// Banner
//------------------------------------------------------------------------------

.Banner {
	position: relative;
}

.Banner a {
	text-decoration: none;
}

.BannerCoverLink {
	@include cover;
	z-index: 1;
}

.BannerContainer {
	@extend .Container;
}

.BannerBackgroundCover {
	@include cover;
	background: $black-50;
}

.BannerContent {
	position: relative;
}

.BannerText > *:last-child {
	margin-bottom: 0;
}

.BannerCaption {
	@include cover;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.75));
	color: $color-text-light;
	padding: 20px;
	text-align: center;
	top: auto;
}

//------------------------------------------------------------------------------
// Background Element
//------------------------------------------------------------------------------

.BannerBackgroundImage {
	@include cover;
	@include transition($transition-slow);
	background-color: $color-boxed-bg;
	background-position: 50%;
	background-size: cover;
	overflow: hidden;
}

//------------------------------------------------------------------------------
// Body Banners
//------------------------------------------------------------------------------

.Banner-Body {
	@extend %default-margin;
	display: block;
	width: 100%;
}

.Banner-Body img {
	@extend %default-margin;
	border-radius: $border-radius;
}

//------------------------------------------------------------------------------
// Side Banners
//------------------------------------------------------------------------------

.Banners-Side {
	text-align: center;
}

.Banner-Side {
	@extend %default-margin;
	background-color: $color-body-bg;
	border: 1px solid darken($color-sitecolumn-bg, 5%);
	border-radius: $border-radius;
	color: text-contrast($color-body-bg);
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.Banner-Side .BannerImage {
	background-color: $color-image-bg;
	border-radius: $border-radius $border-radius 0 0;
	display: block;
	text-align: center;
	overflow: hidden;
}

.Banner-Side .BannerContent {
	padding: 10px;
}

//------------------------------------------------------------------------------
// Wide Banners
//------------------------------------------------------------------------------

.Banner-Wide {
	background-color: $color-text-dark;
	position: relative;
	width: 100%;
}

.Banners-Wide-Contained {
	@extend .Container;
}

.Banner-Wide,
.Banner-Wide .AspectRatio {
	max-height: 550px;
}

.Banner-Wide .AspectRatio:before {
	padding-top: 50%;
}

.Banner-Wide .BannerContainer {
	@include cover;
}

.Banner-Wide .BannerContent {
	@include link-colors($color-text-dark);
	@include valign;
	color: $color-text-light;
	padding: 20px;
}

@media screen and (max-width: $breakpoint-tablet) {
[class^=Col-] > .Banners-Wide {
		@include breakfree;
		margin: 0;
	}
	
	.Banner-Wide .AspectRatio:before {
		padding-top: 60%;
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.Banners-Wide-Contained {
		margin: 0 auto;
		padding: 0;
	}
	
	.Banner-Wide .AspectRatio:before {
		padding-top: 60%;
	}
}

@media screen and (min-width: $breakpoint-mobile) {
	.Banners-Wide-Contained {
		padding-top: 20px;
	}
}

//------------------------------------------------------------------------------
// Banner Universal Height
//------------------------------------------------------------------------------

.Banner-UniHeight {
	background-color: $color-boxed-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	height: 450px;
	overflow: hidden;
}

.Banner-UniHeight .Container {
	@include valign;
}

.Banner-UniHeight .BannerContent {
	max-width: 300px;
	padding: 20px;
}

//------------------------------------------------------------------------------
// Banner Blocks
//------------------------------------------------------------------------------

.Banners-Blocks {
	@extend %default-margin;
	@include flexbox;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	margin: -($grid-gutter / 2)
}

.Block {
	@include flex(0 1 33.33%);
	padding: ($grid-gutter / 2);
}

.Banner-Block {
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	overflow: hidden;
}

.Banner-Block .BannerContainer {
	@include cover;
}

.Banner-Block .BannerContent {
	@include valign;
	@include transition($transition-slow);
	color: $color-text-light;
	margin: auto;
	max-width: 320px;
	text-align: center;
	width: 90%;
}

.Banner-Block:hover .BannerBackgroundImage {
	transform: scale(1.025);
}

@media screen and (max-width: $breakpoint-tablet) {
	.Banner-Block .BannerContent {
		h1, h2, h3, h4 {
			font-size: $font-size-large;
			margin-bottom: 0;
		}
		& > * {
			font-size: $font-size-small;
		}
	}
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.Block {
		@include flex(1 1 50%);
	}
}
