//------------------------------------------------------------------------------
// Breadcrumb
//------------------------------------------------------------------------------

.Breadcrumb {
	@extend %default-margin;
	@include truncate;
}

.Breadcrumb ul,
.Breadcrumb li {
	display: inline;
}

.Breadcrumb ul li:before {
	@include icon($fa-var-angle-right);
	margin: 0 10px;
}

.BreadcrumbStart {
	display: none;
}

.BreadcrumbSeparator {
	display: none;
}

//------------------------------------------------------------------------------
// Path
//------------------------------------------------------------------------------

.Path {
	@include link-colors($color-path-bg);
	background-color: $color-path-bg;
	color: text-contrast($color-path-bg);
	font-size: $font-size-small;
	padding-bottom: 20px;
	padding-top: 20px;
}

.Path a {
	text-decoration: none;
}

.Path .Current > a {
	opacity: .5;
}

.Path .Breadcrumb {
	margin-bottom: 0;
}

.Path .BackLink,
.Path .Breadcrumb {
	display: inline;
}

.Path .BackLink {
	background-color: $color-boxed-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	margin-right: 15px;
	padding: 5px 10px;
}

.Path .BackLink:before {
	@include icon($fa-var-angle-left);
	margin-right: 10px;
}

 a.BackLink[href='/'] {
	display: none !important;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.Breadcrumb {
		display: block;
	}
	.Path .BackLink {
		display: none;
	}
}
