//------------------------------------------------------------------------------
// Breadcrumb
//------------------------------------------------------------------------------

.Breadcrumb {
	@extend %default-margin;
	@include truncate;
}

.Breadcrumb ul,
.Breadcrumb li {
	display: inline;
}

.Breadcrumb ul li:before {
	@include icon($fa-var-angle-right);
	margin: 0 10px;
}

.BreadcrumbStart {
	display: none;
}

.BreadcrumbSeparator {
	display: none;
}

//------------------------------------------------------------------------------
// Path
//------------------------------------------------------------------------------

.Path {
	font-size: $font-size-small;
	padding-top: 24px;
	text-align: center;
}

.Path a {
	text-decoration: none;
}

.Path .Current > a {
	color: mix($color-text-light, $color-text-dark, 50%);
}

.Path .Breadcrumb {
	margin-bottom: 0;
}

.Path .BackLink,
.Path .Breadcrumb {
	display: inline;
}

.Path .BackLink {
	border: 1px solid $color-body-border;
	border-radius: $border-radius;
	margin-right: 15px;
	padding: 6px 10px;
}

.Path .BackLink:before {
	@include icon($fa-var-angle-left);
	margin-right: 10px;
}

 a.BackLink[href='/'] {
	display: none !important;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.Breadcrumb {
		display: block;
	}
	.Path .BackLink {
		display: none;
	}
}
