//------------------------------------------------------------------------------
// Footer
//------------------------------------------------------------------------------

.Footer {
	padding: 48px 0;
}

.FooterCopy .Copyright {
	padding: 24px 0;
}

//------------------------------------------------------------------------------
// Newsletter Subscribe Form
//------------------------------------------------------------------------------

.Footer #NewsletterSubscribeForm label {
	display: none;
}

.Footer #NewsletterSubscribeForm input {
	width: 65%;
}

.Footer #NewsletterSubscribeForm button {
	width: 35%;
}
