//------------------------------------------------------------------------------
// Info Header
//------------------------------------------------------------------------------

.UtilityBar {
	border-bottom: 1px solid $color-body-border;
	font-size: $font-size-small;
	margin: 0 (-($grid-gutter / 2));
}

//------------------------------------------------------------------------------
// Brand Header
//------------------------------------------------------------------------------

.BrandHeader {
	padding: 0;
	margin: 0 (-($grid-gutter / 2));
}

.BrandHeader .LogoLink > img {
	max-height: 110px;
	max-width: 270px
}

.BrandHeader #LiveSearch {
	margin: auto;
	vertical-align: middle;
}
