//------------------------------------------------------------------------------
// Info Header
//------------------------------------------------------------------------------

.UtilityBar {
	border-bottom: 1px solid $color-body-border;
	font-size: $font-size-small;
}

//------------------------------------------------------------------------------
// Brand Header
//------------------------------------------------------------------------------

.BrandHeader {
	padding: 24px 0;
}

.BrandHeader .LogoLink > img {
	max-height: 110px;
}

.BrandHeader #LiveSearch {
	margin: auto;
	max-width: 500px;
	vertical-align: middle;
}

.BrandHeader .FlexItem {
	width: 25%;
}

.BrandHeader .FlexItem.FlexSpacer {
	width: 50%;
}

//------------------------------------------------------------------------------
// Brand Header
//------------------------------------------------------------------------------

.BrandHeader input,
.BrandHeader button,
.BrandHeader .Button {
	padding: 12px;
	height: auto;
}

.Button .CartTotal {
	border-left: 1px solid;
	padding-left: 15px;
	margin-left: 10px;
}
