//------------------------------------------------------------------------------
// Live Search
//------------------------------------------------------------------------------

.LiveSearch {
	position: relative;
}

.LiveSearch.Active .LiveSearchResults {
	@include transform(translateY(0));
	opacity: 1;
	padding: 10px 0;
	visibility: visible;
}

.LiveSearchTitle {
	@extend h5;
	margin: 0 0 5px;
	padding: 0 15px;
}

.LiveSearchSeparator {
	border-top: 1px solid $color-body-border;
	margin: 15px 0;
}

//------------------------------------------------------------------------------
// Search Background
//------------------------------------------------------------------------------

#LiveSearch.Initiated {
	position: relative;
	z-index: 102;
}

.LiveSearchBackground {
	@extend .DrawerOverlay;
	z-index: 101;
}

//------------------------------------------------------------------------------
// Live Search Results
//------------------------------------------------------------------------------

.LiveSearchResults {
	@include box-shadow(0 2px 1px $black-10);
	@include transition($transition-fast);
	@include transform(translateY(20px));
	background-color: $color-body-bg;
	border-radius: $border-radius;
	margin-top: 5px;
	opacity: 0;
	position: absolute;
	top: 100%;
	visibility: hidden;
	width: 100%;
	z-index: 1000;
}

.LiveSearchResults ul {
	list-style: none;
	margin: 0;
}

.LiveSearchResults ul a {
	display: block;
	padding: 5px 15px;
}

.LiveSearchResults ul a:hover,
.LiveSearchResults ul .Active > a {
	background-color: mix(#fff, $color-accent-2, 95%);
	display: block;
	padding: 5px 15px;
}

.LiveSearchActions .Button {
	display: block;
	margin: 20px auto 10px auto;
	max-width: 70%;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.LiveResults .SearchFilter {
		display: block;
		margin: 0;
	}
}
