//------------------------------------------------------------------------------
// Navigation Bar
//------------------------------------------------------------------------------

.NavigationBar {
	@include link-colors($color-navbar-bg);
	@include box-shadow(0 3px 4px rgba(0,0,0,.025));
	background-color: $color-navbar-bg;
	border-bottom: 1px solid darken($color-navbar-bg, 10%);
	left: 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 1000;
}

.NavigationBar .LogoLink > img {
	max-height: 40px;
}

.NavigationBar .CartTotal {
	font-weight: bold;
	font-size: $font-size;
}

.NavigationBar [data-drawer-toggle="menu"] {
	border-left: 1px solid darken($color-sitecolumn-bg, 5%);
	padding-left: 20px;
	padding-right: 15px;
}

.NavigationBarToggle {
	@include truncate;
	display: inline-block;
	font-size: 24px;
	padding: 15px 10px;
	text-decoration: none;
	vertical-align: middle;
}

.NavigationBarToggle-Left {
	margin-left: -15px;
}

.NavigationBarToggle-Right {
	margin-right: -15px;
}

.NavigationBar #LiveSearch {
	#SearchInput {
		border-radius: $border-radius;
		width: 100%;
	}
}

@media screen and (min-width: $breakpoint-tablet + 1) {
	.NavigationBar {
		@include box-shadow(none);
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

//------------------------------------------------------------------------------
// Navigation Expander
//------------------------------------------------------------------------------

.NavigationExpander {
	display: inline-block;
	margin-left: 10px;
}

.NavigationExpander:before {
	@include icon($fa-var-angle-right);
	transition-duration: $transition-fast;
}

.NavigationExpander.Open:before {
	@include transform(rotateZ(90deg));
	height: 14px;
	width: 14px;
}

.LayoutAside .NavigationExpander {
	opacity: .5;
}

.LayoutAside .NavigationExpander.Open {
	opacity: 1;
}

//------------------------------------------------------------------------------
// Inline Navigation
//------------------------------------------------------------------------------

.InlineNavigation a {
	display: inline;
}

.InlineNavigation ul {
	list-style: none;
	margin-bottom: 0;
}

.InlineNavigation li {
	display: inline;
	margin: 0 10px;
}

.InlineNavigation li:first-child {
	margin-left: 0;
}

.InlineNavigation li:last-child {
	margin-right: 0;
}

.InlineNavigation a[href='/account/'] {
	@include icon-before($fa-var-lock);
}

.InlineNavigation a[href='/account/logout/'] {
	@include icon-before($fa-var-sign-out);
}

.InlineNavigation a[href='/orderstatus/'] {
	@include icon-before($fa-var-truck);
}

@media screen and (max-width: $breakpoint-mobile) {
	.InlineNavigation li {
		display: block;
		margin: 0;
	}

	.InlineNavigation li + li {
		margin-top: 10px;
	}

	.InlineNavigation li + li:before {
		display: none;
	}
}

//------------------------------------------------------------------------------
// Version Navigation
//------------------------------------------------------------------------------

.VersionNavigation + .FlexItem {
	margin-left: -15px;
}

.VersionNavigation > * {
	display: inline-block;
}

.VersionNavigation .InlineNavigation li {
	display: inline-block;
}

.InlineNavigation .LanguageNavigation a {
	@include truncate;
	padding: 5px;
	text-decoration: none;
	vertical-align: middle;
}

.InlineNavigation .LanguageNavigation > li.Current > a {
	box-shadow: inset 0 -2px
}

.InlineNavigation .LanguageNavigation li {
	display: inline-block;
	margin: 0 -2px 0 -1px;
}

//------------------------------------------------------------------------------
// Simple Navigation
//------------------------------------------------------------------------------

.SimpleNavigation {
	@extend %default-margin;
}

.SimpleNavigation a {
	@include truncate;
	display: block;
	text-decoration: none;
}

.SimpleNavigation ul {
	list-style: none;
}

.SimpleNavigation ul ul a {
	padding-left: 20px;
}

.SimpleNavigation ul ul ul a {
	padding-left: 40px;
}

.SimpleNavigation ul,
.SimpleNavigation li {
	margin-top: 5px;
}

.SimpleNavigation ul:first-child,
.SimpleNavigation li:first-child {
	margin-top: 0;
}

.SimpleNavigation .Current > a {
	@include current-link($color-header-bg);
}

.SiteFooter .SimpleNavigation .Current > a {
	@include current-link($color-footer-bg);
}

//------------------------------------------------------------------------------
// Drop Navigation
//------------------------------------------------------------------------------

.DropNavigation a {
	@include truncate;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	transition-duration: $transition-fast;
}

.DropNavigation ul {
	list-style: none;
	margin: 0 -15px;
	padding: 0;
}

.DropNavigation li {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.DropNavigation li ul {
	@include link-colors($color-boxed-bg);
	background-color: $color-boxed-bg;
	border: 1px solid $color-navbar-border;
	color: text-contrast($color-boxed-bg);
	margin: 0;
	max-width: 300px;
	min-width: 200px;
	opacity: 0;
	position: absolute;
	top: 100%;
	transition-duration: $transition-fast;
	visibility: hidden;
	z-index: 1000;
}

.DropNavigation li li {
	display: block;
}

.DropNavigation li li ul {
	left: 100%;
	position: absolute;
	top: 0;
}

.DropNavigation li li a {
	display: block;
}

.DropNavigation li:hover > ul {
	opacity: 1;
	visibility: visible;
}

.DropNavigation-Right ul ul {
	left: auto;
	right: 0;
}

//------------------------------------------------------------------------------
// Simple Drop Navigation
//------------------------------------------------------------------------------

.SimpleDropNavigation {
	@extend .DropNavigation;
}

.NavigationLabel {
	display: inline-block;
	& + ul {
		float: right;
	}
}

.SimpleDropNavigation a,
.NavigationLabel {
	padding: 10px 5px;
}

.SimpleDropNavigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.SimpleDropNavigation li ul {
	margin: 0 -15px;
	max-width: 300px;
	min-width: 40px;
}

.SimpleDropNavigation li li a {
	border-top: 1px solid $color-body-border;
	padding: 5px 15px;
}

.SimpleDropNavigation li li:first-child a {
	border-top: 0;
}

.SimpleDropNavigation .HasSubCategories > a {
	@include icon-after($fa-var-angle-down);
}

//------------------------------------------------------------------------------
// Tabs Navigation
//------------------------------------------------------------------------------

.TabsNavigation a {
	@include truncate;
	background-color: $color-body-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius $border-radius 0 0;
	color: text-contrast($color-button-bg);
	display: block;
	font-weight: bold;
	margin-bottom: -1px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

.TabsNavigation ul {
	@include clearfix;
	list-style: none;
	margin-bottom: 0;
	position: relative;
	z-index: 10;
}

.TabsNavigation li {
	float: left;
	margin-left: 5px;
	max-width: 49%;
}

.TabsNavigation li:first-child {
	margin-left: 0;
}

.TabsNavigation .Current > a {
	background-color: $color-boxed-bg;
	border-bottom-color: $color-boxed-bg;
	@include current-link($color-boxed-bg);
}

@media screen and (max-width: $breakpoint-mobile) {
	.TabsNavigation li {
		margin-left: 0;
		width: 50%;
	}
}

//------------------------------------------------------------------------------
// Main Navigation
//------------------------------------------------------------------------------

.MainNavigation {
	@extend .DropNavigation;
}

.MainNavigation-Right {
	@extend .DropNavigation-Right;
}

.MainNavigation a {
	border: 1px solid $color-body-border;
	font-family: $font-headings;
}

.MainNavigation > ul > li > a {
	@extend %styleset;
	border: 0;
}

.MainNavigation li li a {
	border-width: 1px 0 0;
}

.MainNavigation li li:first-child a {
	border-width: 0;
}

.MainNavigation .Current > a {
	@include current-link($color-header-bg);
}

.MainNavigation .HasSubCategories > a {
	@include icon-after($fa-var-angle-down);
}

.MainNavigation li .HasSubCategories > a {
	@include icon-after($fa-var-angle-right);
}

//------------------------------------------------------------------------------
// Side Navigation
//------------------------------------------------------------------------------

.SideNavigation {
	@extend %default-margin;
	background-color: $color-body-bg;
	border: 1px solid $color-body-border;
}

.SideNavigation-Left {
	border-right: 1px solid $color-body-border;
}

.SideNavigation-Right {
	border-left: 1px solid $color-body-border;
}

.SideNavigation a {
	display: block;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
}

.SideNavigation ul {
	list-style: none;
	margin-bottom: 0;
}

.SideNavigation ul ul a {
	padding-left: 30px;
}

.SideNavigation ul ul ul a {
	padding-left: 45px;
}

.SideNavigation > ul > :first-child > a {
	border-width: 0;
}

.SideNavigation .Current > a {
	@include current-link($color-body-bg);
}

//------------------------------------------------------------------------------
// Drawer Navigation
//------------------------------------------------------------------------------

.DrawerNavigation {
	margin-top: -1px;
}

.DrawerNavigation:first-child {
	margin-top: 0;
}

.DrawerNavigation a {
	@include truncate;
	border: 1px solid $color-drawer-border;
	border-width: 1px 0;
	display: block;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
}

.DrawerNavigation ul {
	list-style: none;
	margin-bottom: 0;
}

.DrawerNavigation ul ul,
.DrawerNavigation li + li {
	margin-top: -1px;
}

.DrawerNavigation ul ul a {
	padding-left: 30px;
}

.DrawerNavigation ul ul ul a {
	padding-left: 45px;
}

.DrawerNavigation .NavigationExpander {
	@include valign;
	cursor: pointer;
	margin-left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 45px;
}

.DrawerNavigation .HasSubCategories > ul {
	display: none;
}

.DrawerNavigation .HasSubCategories > a {
	padding-right: 60px;
}

.DrawerNavigation .Open > ul {
	display: block;
}

//------------------------------------------------------------------------------
// Main Categories Navigation
//------------------------------------------------------------------------------

.MainCategories {
	@include link-colors($color-sitecolumn-bg);
	@extend %default-margin;
}

.MainCategories a {
	border-color: darken($color-sitecolumn-bg, 5%);
	font-family: $font-headings;
	font-size: $font-size-small;
	padding-bottom: 5px;
	padding-top: 5px
}

.MainCategories a:hover {
	box-shadow: inset 3px 0 0;
}

.MainCategories li.Current > a {
	box-shadow: inset 3px 0 0;
}

.MainCategories li ul {
	background-color: scale-color($color-sitecolumn-bg, $lightness: -2%);
}

.MainCategories > ul > li:first-child > a {
	border-top: 0;
}

.MainCategories > ul > li:last-child > a {
	border-bottom: 0;
}

.MainCategories > ul > li > a {
	@extend %styleset;
	font-size: $font-size;
	padding-bottom: 10px;
	padding-top: 10px
}

.MainCategories > .Campaigns > li > a {
	@include icon-before($fa-var-star);
}

//------------------------------------------------------------------------------
// Drawe Navigation Styles
//------------------------------------------------------------------------------

.Drawer .DrawerNavigation > ul > li > a {
	@extend %styleset;
}

.Drawer .DrawerNavigation ul ul a {
	background-color: lighten($color-drawer-bg, 5%);
}

.DrawerNavigation a[href='/account/'] {
	@include icon-before($fa-var-lock);
}

.DrawerNavigation a[href='/account/logout/'] {
	@include icon-before($fa-var-sign-out);
}

.DrawerNavigation a[href='/orderstatus/'] {
	@include icon-before($fa-var-truck);
}

.DrawerNavigation a[href='/account/'],
.DrawerNavigation a[href='/account/logout/'],
.DrawerNavigation a[href='/orderstatus/'] {
	&:before {
		min-width: 20px;
		text-align: center;
	}
}
