//------------------------------------------------------------------------------
// Pagination Bar
//------------------------------------------------------------------------------

.PaginationBar {
	background-color: $color-body-bg;
	border-bottom: 1px solid $color-body-border;
	margin-bottom: 40px;
	margin-top: 20px;
}

.PaginationBar-Bottom {
	@include flexbox;
	border: 0;
}

.PaginationBar .FlexItem:first-child {
	padding-left: 0;
	margin-left: -1px;
}

.PaginationBar .FlexItem:last-child {
	padding-right: 0;
	margin-right: -1px;

	input,
	select {
		border-radius: $border-radius $border-radius 0 0;
	}
}

.PaginationBar label,
.PaginationBar p  {
	@include truncate;
	color: mix($color-text-light, $color-text-dark, 50%);
	font-size: $font-size-small;
	font-weight: normal;
	margin: 0 5px;
	vertical-align: middle;
}

.PaginationBar select,
.PaginationBar input {
	border-color: $color-body-border;
	border-radius: $border-radius $border-radius 0 0;
	margin-top: -1px;
	margin-bottom: -1px !important;
}

.PaginationBar .PaginationForm {
	margin: 0;
}

.PaginationBar .Pagination {
	display: block;
	margin-bottom: -1px;
	margin-top: -1px;
}

.PaginationBar .Pagination ul {
	display: block;
}

@media screen and (max-width: $breakpoint-desktop) {
	.PaginationBar .PaginationStatus {
		display: none;
	}
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.PaginationBar {
		border:  0;
		width: 100%;
	}

	.PaginationBar .Flex .FlexItem {
		@include flexbox;
		padding: 0;
	}

	.PaginationBar label {
		border: 1px solid $color-body-border;
		height: 46px;
		margin-right: -1px;
		min-width: 50%;
		padding: 10px;
	}

	.PaginationBar .Pagination,
	.PaginationBar select,
	.PaginationBar input {
		margin-top: 0;
		margin-bottom: 0 !important;
	}
}

//------------------------------------------------------------------------------
// Pagination
//------------------------------------------------------------------------------

.Pagination {
	@include clearfix;
	margin-top: 40px;
}

.Pagination a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.Pagination ul {
	display: inline-block;
	list-style: none;
	margin-bottom: 0;
}

.Pagination li {
	background-color: $color-button-bg;
	border: 1px solid $color-body-border;
	float: left;
	margin-left: -1px;
	text-align: center;
	width: 40px;
}

.Pagination li:first-child {
	border-bottom-left-radius: $border-radius;
	border-top-left-radius: $border-radius;
	margin-left: 0;
}

.Pagination li:last-child {
	border-bottom-right-radius: $border-radius;
	border-top-right-radius: $border-radius;
}

.Pagination .CurrentPage,
.Pagination .DisabledPageLink,
.Pagination .PagesBetween {
	color: mix($color-text-light, $color-text-dark, 50%);
	padding: 10px;
}

.Pagination .CurrentPage {
	color: $color-accent-2;
}

.Pagination .PreviousPageLink > a,
.Pagination .PreviousPageLink.DisabledPageLink {
	@include icon-replace($fa-var-angle-left);
}

.Pagination .NextPageLink > a,
.Pagination .NextPageLink.DisabledPageLink {
	@include icon-replace($fa-var-angle-right);
}
