//------------------------------------------------------------------------------
// Product Base
//------------------------------------------------------------------------------

.ProductImage {
	background-color: $color-image-bg;
	border: 1px solid $color-image-border;
	border-radius: $border-radius;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	transition-duration: $transition-fast;
}

.ProductDiscountPrice {
	color: $color-discount;
}

.Badge.ProductDiscountPercent {
	font-weight: bold;
	background-color: $color-discount;
	color: text-contrast($color-discount);
}

.ProductComparePrice {
	text-decoration: line-through;
	font-size: .8em;
}

//------------------------------------------------------------------------------
// List Product
//------------------------------------------------------------------------------

.ListProduct {
	@include link-colors($color-boxed-bg);
	background-color: $color-boxed-bg;
	border: 1px solid $color-boxed-border;
	border-radius: $border-radius;
	padding-bottom: 100px;
	position: relative;
	transition-duration: $transition-fast;
}

.ListProduct .ProductImage {
	vertical-align: middle;
}

.ProductImageContainer {
	@include cover;
}

.ListProduct .ProductImage {
	border: 0;
}

.ListProduct .ProductImage img {
	@include cover;
	margin: auto;
}

.ListProduct:hover {
	transform: translateY(-1px);
	box-shadow: 0 4px 4px rgba(0,0,0,.05);
}

.ListProduct .ProductInformation {
	padding: 0 10px;
}

.ListProduct .ProductName {
	display: block;
	margin: 0;
}

.flickity-enabled .ListProduct:not(.ListProduct-Compact) .ProductName {
	@include truncate;
}

.ListProduct .ProductName a {
	text-decoration: none;
}

.ListProduct .ProductPrices {
	@extend h2;
	font-weight: bold;
	margin: 0;
}

.ListProduct .ProductAddToCart {
	bottom: 0;
	left: 0;
	margin-bottom: 20px;
	padding: 0 10px;
	position: absolute;
	right: 0;
	z-index: 1
}

//------------------------------------------------------------------------------
// Compact ListProduct 
//------------------------------------------------------------------------------

.ListProduct-Compact {
	font-size: $font-size-small;
	padding-bottom: 20px;
}

.ListProduct-Compact .ProductImage {
	padding: 5px;
}

.ListProduct-Compact .ProductInformation {
	display: block;
}

.ListProduct-Compact .ProductName {
	@include truncate;
	font-size: inherit;
}

.ListProduct-Compact .ProductPrices {
	@extend h3;
	@include truncate;
}

.ListProduct-Compact .ProductAddToCart {
	display: none;
}

//------------------------------------------------------------------------------
// Current Product Image
//------------------------------------------------------------------------------

#CurrentProductImage {
	@extend %default-margin;
	background-color: $color-image-bg;
	border-radius: $border-radius;
	display: block;
	height: auto;
	text-align: center;
}

#ProductImageCaption {
	text-align: center;
}

//------------------------------------------------------------------------------
// Product Thumbnails
//------------------------------------------------------------------------------

#ProductThumbnails {
	@include clearfix;
	list-style: none;
	margin: -5px;
}

#ProductThumbnails li {
	float: left;
	padding: 5px;
	vertical-align: middle;
	width: 25%;
}

#ProductThumbnails .ProductThumbnail {
	@extend .ProductImage;
	height: 80px;
	line-height: 68px;
	padding: 5px;
}

#ProductThumbnails .mz-thumb {
	display: block;
}

#ProductThumbnails .mz-thumb img {
	@include box-shadow(none);
	@include filter(none);
}

#ProductThumbnails .mz-thumb-selected {
	border-color: darken($color-image-border, 5%);
}

@media screen and (max-width: $breakpoint-tablet) {
	#ProductThumbnails li {
		width: 12.5%;
	}
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	#ProductThumbnails li {
		width: 25%;
	}
}

//------------------------------------------------------------------------------
// Product Card
//------------------------------------------------------------------------------

.ProductCard .BuyForm input:not([type='radio']):not([type='checkbox']),
.ProductCard .BuyForm select {
	width: 100%;
}

.ProductCardPrices {
	@extend h2;
	font-weight: bold;
	margin: 0;
}

.ProductCard .Badge.ProductDiscountPercent {
	@extend h2;
	font-weight: bold;
	transform: rotate(3deg);
}

.ProductInfoSection .ContentSection + .ContentSection {
	margin-top: 10px;
	padding-top: 10px;
}

.ContentSection + .ProductInfoSectionRow,
.ProductInfoSectionRow + .ContentSection {
	border-top: 1px solid $color-body-border;
}

.ProductDescription iframe {
	@include box-shadow(0 4px 8px $black-25);
	max-width: 100%;
}

.ProductAdditionalInfoSection {
	background-color: $color-image-bg;
	border: 1px solid $color-image-border;
	border-radius: $border-radius;
	padding: 10px 15px;
}

//------------------------------------------------------------------------------
// Product Categories
//------------------------------------------------------------------------------

.ProductCategories {
	color: mix($color-text-light, $color-text-dark, 50%);
	font-size: $font-size-small;
	margin: 0;
}

h1 + .ProductCategories,
.ContentTitle + .ProductCategories {
	margin-top: -12px;
}

.ProductCategories a {
	border-bottom: 1px solid;
	padding: 0 2px;
	text-decoration: none;
}

.ProductCategories ul {
	list-style: none;
	margin: 0;
}

.ProductCategories ul + ul {
	margin-left: -3px;
}

.ProductCategories > * {
	display: inline-block;
}

.ProductCategories li {
	display: inline-block;
	margin: 0 5px 5px 0;
}

//------------------------------------------------------------------------------
// Product Details
//------------------------------------------------------------------------------

.ProductDetailsTitle {
	@extend h2;
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

.ProductDetailsItem-Info {
	position: relative;
	display: none;
	margin: 10px 0 0 0;
	background-color: $color-body-border;
	border: 1px solid $color-body-border;
	border-radius: $border-radius-large;
	display: block;
	padding: 5px 7px;
}

.ProductDetailsItem-Info::before {
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 0;
	width: 0;
	height: 0;
	margin-left: 20px;
	content: '';
	border: 8px solid transparent;
	border-bottom: 8px solid $color-body-border;
}

//------------------------------------------------------------------------------
// Product Availability
//------------------------------------------------------------------------------

.ProductAvailability .DeliveryTime {
	font-weight: bold;
}

.ProductAvailability dt.StorageInfo {
	display: inline-block;
	margin-right: 5px
}

.ProductAvailability dt.StorageInfo + dd.StorageInfo {
	background-color: $color-boxed-bg;
	display: inline-block;
	border: 1px solid $color-body-border;
	padding: 0px 10px 2px;
	border-radius: 30px;
}

.ProductAvailability dd.StorageInfo::before {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	content: '';
	vertical-align: middle;
	border-radius: 50%;
}

.Available dd.StorageInfo::before,
.Available.AvailabilityOutOfStock dd.StorageInfo::before {
	background-color: darken($color-notification-bg, 10%);
	border: 1px solid darken($color-notification-bg, 20%);
}

.Available.AvailabilityInStock dd.StorageInfo::before {
	background-color: $color-success;
	border: 0;
}

.AvailabilityOutOfStock dd.StorageInfo::before {
	background-color: $color-error;
	border: 0;
}

//------------------------------------------------------------------------------
// Product Shipping Details
//------------------------------------------------------------------------------

.ProductShippingMethods {
	background-color: $color-boxed-bg;
	border: 1px solid $color-body-border;
	border-radius: $border-radius-large;
	padding: 10px;
}

.ProductShippingMethods .ShippingCosts > * {
	margin: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}

.ProductShippingMethods dt.ShippingMethodName {
	@include truncate;
	border-bottom: 1px solid $color-body-border;
	display: block;
	font-weight: normal;
	padding-right: 60px;
}

.ProductShippingMethods dd.ShippingMethodPrice {
	font-weight: bold;
	margin-top: -35px;
	text-align: right;
}

.ProductShippingMethods dd.ShippingMethodInfo {
	display: none;
}
