//------------------------------------------------------------------------------
// Layout
//------------------------------------------------------------------------------

.Layout {
	@include flexbox;
	background-color: $color-sitecolumn-bg;
}

%Layout {
	float: left;
	padding: 0 ($grid-gutter / 2);
	position: relative;
}

.LayoutAside {
	@extend %Layout;
	color: text-contrast($color-sitecolumn-bg);
	height: 100%;
	overflow-y: auto;
	padding: 20px ($grid-gutter / 2) 80px;
	position: fixed;
	width: $layout-column;
	z-index: 1;
}

.LayoutMain {
	@extend %Layout;
	background-color: $color-body-bg;
	margin-left: $layout-column;
	width: 100%;
}

@media screen and (max-width: $breakpoint-tablet) {
	.LayoutMain {
		margin: 0;
	}
}

//------------------------------------------------------------------------------
// Site
//------------------------------------------------------------------------------

.SiteHeader {
	@include link-colors($color-header-bg);
	border-bottom: 1px solid $color-body-border;
	color: text-contrast($color-header-bg);
	padding: ($grid-gutter / 2) ($grid-gutter / 2) $grid-gutter;
	margin: 0 (-($grid-gutter / 2));
	a {
		text-decoration: none;
	}
}

.SiteBody {
	background-color: $color-body-bg;
	color: text-contrast($color-body-bg);
}

.SiteContent {
	padding: 40px 0;
}

.SiteFooter {
	border-top: 1px solid $color-body-border;
	color: text-contrast($color-footer-bg);
	margin: 0 (-($grid-gutter / 2));
}

@media screen and (max-width: $breakpoint-tablet) {
	.SiteHeader {
		padding: ($grid-gutter / 2);
	}
}
