//------------------------------------------------------------------------------
// Site
//------------------------------------------------------------------------------

.SiteHeader {
	@include link-colors($color-header-bg);
	background-color: $color-header-bg;
	color: text-contrast($color-header-bg);
	a {
		text-decoration: none;
	}
}

.SiteBody {
	background-color: $color-body-bg;
	color: text-contrast($color-body-bg);
}

.SiteContent {
	padding: 48px 0 72px;
}

.Banners-Wide + .SiteContent {
	padding-top: 24px;
}

.SiteFooter {
	color: text-contrast($color-footer-bg);
}
