//------------------------------------------------------------------------------
// Slick Slider
//------------------------------------------------------------------------------

.slick-arrow {
	line-height: 20px;
	padding: 4px;
	position: absolute;
	width: 40px;
	z-index: 1;
}

.slick-arrow > .fa {
	margin: 0;
}

.slick-prev,
.slick-next {
	bottom: 15px;
}

.slick-prev {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	right: 55px;
}

.slick-next {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	right: 15px;
}

.slick-slide:focus {
	outline: 0;
}

.slick-slide img {
	display: inline-block;
}

//------------------------------------------------------------------------------
// Flickity
//------------------------------------------------------------------------------

.flickity-prev-next-button.previous {
	left: 0;
}
.flickity-prev-next-button.next {
	right: 0;
}

.flickity-rtl .flickity-prev-next-button.previous {
	left: auto;
	right: 0;
}
.flickity-rtl .flickity-prev-next-button.next {
	right: auto;
	left: 0;
}

.flickity-prev-next-button {
	width: 40px;
	height: 100%;
	border-radius: 0 !important;
	background: transparent;
	z-index: 2;
}

.flickity-prev-next-button:hover {
	background: transparent;
}

.flickity-prev-next-button .arrow {
	fill: $color-text-dark;
}

.flickity-prev-next-button.no-svg {
	color: $color-text-dark;
}

.flickity-prev-next-button:disabled {
  display: none;
}

@media screen and (max-width: $breakpoint-tablet) {
	.flickity-prev-next-button {
		display: none;
	}
}
