//------------------------------------------------------------------------------
// Flickity
//------------------------------------------------------------------------------

.flickity-prev-next-button.previous {
	left: -15px;
}
.flickity-prev-next-button.next {
	right: -15px;
}

.flickity-rtl .flickity-prev-next-button.previous {
	left: auto;
	right: -15px;
}
.flickity-rtl .flickity-prev-next-button.next {
	right: auto;
	left: -15px;
}

.flickity-prev-next-button {
	border-radius: 50% !important;
	background: $color-base-1;
	border: 1px solid $color-body-border;
	height: 40px;
	width: 40px;
	z-index: 2;
}

.flickity-prev-next-button:hover {
	background: $color-base-2;
}

.flickity-prev-next-button .arrow {
	fill: $color-text-dark;
}

.flickity-prev-next-button.no-svg {
	color: $color-text-dark;
}

.flickity-prev-next-button:disabled {
	display: none;
}

.flickity-page-dots {
	bottom: -22px;
}

.flickity-page-dots .dot {
	height: 4px;
	width: 40px;
	margin: 0;
	border-radius: 0;
}

.Banners-Wide .flickity-page-dots .dot {
	background-color: $color-base-2;
}

.Banners-Wide .flickity-page-dots {
	bottom: 20px;
}
