//------------------------------------------------------------------------------
// Flickity
//------------------------------------------------------------------------------

.flickity-prev-next-button.previous {
	left: -15px;
}
.flickity-prev-next-button.next {
	right: -15px;
}

.flickity-prev-next-button {
	border-radius: 50% !important;
	background: $color-button-bg;
	border: 1px solid $color-button-border;
	height: 40px;
	width: 40px;
	z-index: 2;
}

.flickity-prev-next-button:hover {
	background: darken($color-button-bg, 2.5%);
}

.flickity-prev-next-button .arrow {
	fill: $color-text-dark;
}

.flickity-prev-next-button.no-svg {
	color: $color-text-dark;
}

.flickity-prev-next-button:disabled {
	opacity: 0;
}

.flickity-page-dots {
	bottom: -22px;
}

.flickity-page-dots li:only-child {
	display: none;
}

.Banners-Wide .flickity-page-dots .dot {
	height: 4px;
	width: 10px;
	margin: 0;
	border-radius: 0;
}

.Banners-Wide .flickity-page-dots .dot {
	background-color: $color-button-bg;
}

.Banners-Wide .flickity-page-dots {
	bottom: 20px;
}

@media screen and (max-width: $breakpoint-desktop) {
	.flickity-prev-next-button  {
		display: none;
	}
}
