//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$color-accent-1:              #2A2A2A !default;
$color-accent-2:              #949396 !default;

$color-base-1:                #ffffff !default;

$color-document-bg:           $color-base-1 !default;
$color-sitecolumn-bg:         $color-accent-1 !default;
$color-navbar-bg:             $color-sitecolumn-bg !default;
