//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$color-accent-1:              #2C2422 !default;
$color-accent-2:              #83706A !default;

$color-document-bg:           #ffffff !default;
$color-sitecolumn-bg:         #77625C !default;
$color-navbar-bg:             $color-sitecolumn-bg !default;
