//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$color-accent-1:              #182825 !default;
$color-accent-2:              #182825 !default;

$color-document-bg:           #ffffff !default;
$color-sitecolumn-bg:         #94C12B !default;
$color-navbar-bg:             $color-sitecolumn-bg !default;
