//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$color-accent-1:              #314445 !default;
$color-accent-2:              #567779 !default;

$color-document-bg:           #ffffff !default;
$color-sitecolumn-bg:         #9CC7C9 !default;
$color-navbar-bg:             $color-sitecolumn-bg !default;
