//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$color-accent-1:              #2a2a2a !default;
$color-accent-2:              #D1495B !default;

$color-document-bg:           #ffffff !default;
$color-sitecolumn-bg:         $color-accent-2 !default;
$color-navbar-bg:             $color-sitecolumn-bg !default;
