//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$color-accent-1:              #384E77 !default;
$color-accent-2:              #5C6E8F !default;

$color-document-bg:           #ffffff !default;
$color-sitecolumn-bg:         #FFCB47 !default;
$color-navbar-bg:             $color-sitecolumn-bg !default;
