//------------------------------------------------------------------------------
// Container
//------------------------------------------------------------------------------

.Container {
	margin: 0 auto;
	max-width: $container-max-width;
	padding: 0 ($grid-gutter / 2);
}

//------------------------------------------------------------------------------
// Grid
//------------------------------------------------------------------------------

.Grid {
	@include clearfix;
	margin: 0 (-($grid-gutter / 2));
}

//------------------------------------------------------------------------------
// Column
//------------------------------------------------------------------------------

.Col, [class^=Col-] {
	float: left;
	padding: 0 ($grid-gutter / 2);
	position: relative;
}

@include cols(5);
@include cols(12);

//------------------------------------------------------------------------------
// Grid List
//------------------------------------------------------------------------------

.GridList {
	margin: 0 (-($grid-list-gutter / 2));
}

.GridList:not(.flickity-enabled) {
	@include flexbox;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.GridList .ListItem {
	float: left;
	padding: ($grid-list-gutter / 2);
	position: relative;
	width: 33.33%;
}

.GridList-Wide .ListItem {
	width: 25%;
}

.GridList-Narrow .ListItem {
	width: 50%;
}

@media screen and (max-width: $breakpoint-tablet) {
	.GridList .ListItem {
		width: 25%;
	}
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.GridList .ListItem {
		width: 33.33%;
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.GridList .ListItem {
		width: 50%;
	}
}

.GridList-Small .ListItem {
	width: 16.66%;
	min-width: ($container-max-width - $grid-gutter) / 6;
}

@media screen and (max-width: $breakpoint-tablet) {
	.GridList-Small.flickity-enabled {
		@include breakfree;
		padding-left: 15px;
	}
}

//------------------------------------------------------------------------------
// Flex
//------------------------------------------------------------------------------

.Flex {
	@include align-items(center);
	@include flexbox;
	margin-bottom: 20px;
	margin-left: -($grid-gutter / 2);
	margin-right: -($grid-gutter / 2);
}

.FlexItem {
	padding-left: ($grid-gutter / 2);
	padding-right: ($grid-gutter / 2);
}

.FlexItem > :first-child {
	margin-top: 0;
}

.FlexItem > :last-child {
	margin-bottom: 0;
}

.FlexItem-Grow {
	@include flex(1);
}

.FlexSpacer {
	@include flex(1);
}

.Flex-NoMargin {
	margin-bottom: 0;
}

.Flex-Wrap {
	@include flex-wrap(wrap);
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.Flex-Collapse {
		display: block;
	}

	.Flex-Collapse .Button {
		display: block;
		width: 100%;
	}

	.Flex-Collapse .FlexItem + .FlexItem {
		margin-top: 10px;
	}

	.Flex-Collapse .Button + .Button {
		margin-top: 10px;
	}
}
