//------------------------------------------------------------------------------
// Typography
//------------------------------------------------------------------------------

$font-base-1:                 'Asap Condensed', sans-serif !default;
$font-base-2:                 'Asap', sans-serif !default;

$font-headings:               $font-base-1 !default;
$font-body:                   $font-base-2 !default;

$font-size:                   16px !default;
$font-size-small:             14px !default;
$font-size-large:             18px !default;

$line-height:                 24px !default;

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$black-0:                     rgba(0, 0, 0, 0);
$black-10:                    rgba(0, 0, 0, 0.1);
$black-25:                    rgba(0, 0, 0, 0.25);
$black-50:                    rgba(0, 0, 0, 0.5);
$black-75:                    rgba(0, 0, 0, 0.75);

$white-0:                     rgba(255, 255, 255, 0);
$white-10:                    rgba(255, 255, 255, 0.1);
$white-25:                    rgba(255, 255, 255, 0.25);
$white-50:                    rgba(255, 255, 255, 0.5);
$white-75:                    rgba(255, 255, 255, 0.75);

$color-accent-1:              #182825 !default;
$color-accent-2:              #BF98A0 !default;

$color-base-1:                #ffffff !default;
$color-base-2:                scale-color($color-accent-2, $lightness: 97%, $saturation: -50%) !default;

$color-success:               #88bb33 !default;
$color-error:                 #ce2d4f !default;

$color-text-light:            #fefefe !default;
$color-text-dark:             mix($color-base-2, #000000, 20%) !default;

$color-link-light:            #fafafa !default;
$color-link-dark:             mix($color-base-2, #000000, 10%) !default;

$color-discount:              #E84855 !default;

$color-document-bg:           $color-accent-2 !default;
$color-sitecolumn-bg:         $color-document-bg !default;
$color-body-bg:               $color-base-2 !default;

$color-header-bg:             $color-base-1 !default;
$color-footer-bg:             $color-sitecolumn-bg !default;
$color-navbar-bg:             $color-accent-2 !default;
$color-path-bg:               $color-body-bg !default;
$color-drawer-bg:             $color-base-2 !default;
$color-boxed-bg:              $color-base-1 !default;

$color-banner-bg:             $white-75 !default;
$color-loader-bg:             $white-50 !default;
$color-notification-bg:       #ffeecc !default;
$color-button-bg:             $color-base-1 !default;
$color-image-bg:              $color-base-1 !default;
$color-input-bg:              $color-boxed-bg !default;

$color-body-border:           scale-color($color-body-bg, $lightness: -8%, $saturation: -75%) !default;
$color-boxed-border:          $color-body-border !default;
$color-button-border:         darken($color-button-bg, 15%) !default;
$color-navbar-border:         $color-body-border !default;
$color-footer-border:         $color-body-border !default;
$color-drawer-border:         $color-body-border !default;
$color-path-border:           $color-body-border !default;
$color-image-border:          $color-body-border !default;
$color-input-border:          scale-color($color-input-bg, $lightness: -12%, $saturation: -75%) !default;

//------------------------------------------------------------------------------
// Raster Icons
//------------------------------------------------------------------------------

$icon-select-dark:            '../images/angle-down-dark.png' !default;
$icon-select-light:           '../images/angle-down-light.png' !default;

//------------------------------------------------------------------------------
// Layout
//------------------------------------------------------------------------------

$layout-column:                 320px !default;
$layout-main:                   1100px !default;

//------------------------------------------------------------------------------
// Grid System
//------------------------------------------------------------------------------

$container-max-width:         $layout-main !default;

$grid-gutter:                 30px !default;
$grid-list-gutter:            10px !default;

$breakpoint-desktop:          1200px !default;
$breakpoint-tablet:           1024px !default;
$breakpoint-mobile-wide:      800px !default;
$breakpoint-mobile:           600px !default;

$list-item-ratio:             1 !default;

//------------------------------------------------------------------------------
// Border Radiuses
//------------------------------------------------------------------------------

$border-radius:               3px !default;
$border-radius-medium:        5px !default;
$border-radius-large:         8px !default;

//------------------------------------------------------------------------------
// Transition Durations
//------------------------------------------------------------------------------

$transition-fast:             0.15s !default;
$transition-slow:             0.3s !default;

//------------------------------------------------------------------------------
// Font Awesome
//------------------------------------------------------------------------------

$fa-font-path:                '../vendor/font-awesome/fonts' !default;
